<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="container-fluid">

    <!-- Home Section -->
    <section id="homeSection" class="jumbotron">
      <h1 class="display-5"><%= htmlWebpackPlugin.options.title %></h1>
      <p class="lead">Use your spreadsheet data, plot the locations on the map, plan a route, and generate a
        report.</p>
      <hr class="my-4">
      <p>When you're ready, click the button below to continue.</p>
      <button id="getStartedButton" class="btn btn-primary">Get Started</button>
    </section>

    <!-- Import Data Section -->
    <section id="importSection" class="jumbotron" style="display:none">
      <h1 class="display-5">Import Data</h1>
      <p class="lead">Select a CSV file to parse and use with a map.</p>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input id="fileInput" type="file" class="custom-file-input" accept=".csv" required>
          <label id="fileLabel" class="custom-file-label" for="fileInput">Choose file...</label>
        </div>
      </div>
      <hr class="my-4">
      <p>When you're ready, click the button below to import your data.</p>
      <div id="fileAlert" class="alert alert-danger" role="alert" style="display:none"></div>
      <button id="importButton" class="btn btn-primary">Import</button>
    </section>

    <!-- Select Fields Section -->
    <section id="fieldsSection" class="jumbotron" style="display:none">
      <h1 class="display-5">Select Fields</h1>
      <p class="lead">Choose the required geocoding fields and optional data fields to include.</p>
      <form id="fieldsForm" novalidate>
        <div class="form-group row">
          <label for="addressInput" class="col-form-label col-sm-4">Address</label>
          <div class="col-sm-6">
            <select id="addressInput" name="address" class="form-control" required></select>
            <div class="invalid-feedback">Please choose a field for address.</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="cityInput" class="col-form-label col-sm-4">City</label>
          <div class="col-sm-6">
            <select id="cityInput" name="city" class="form-control" required></select>
            <div class="invalid-feedback">Please choose a field for city.</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="provinceInput" class="col-form-label col-sm-4">Province</label>
          <div class="col-sm-6">
            <select id="provinceInput" name="province" class="form-control" required></select>
            <div class="invalid-feedback">Please choose a field for province.</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="postalCodeInput" class="col-form-label col-sm-4">Postal Code</label>
          <div class="col-sm-6">
            <select id="postalCodeInput" name="postalCode" class="form-control" required></select>
            <div class="invalid-feedback">Please choose a field for postal code.</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="countryInput" class="col-form-label col-sm-4">Country</label>
          <div class="col-sm-6">
            <select id="countryInput" name="country" class="form-control" required></select>
            <div class="invalid-feedback">Please choose a field for country.</div>
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-4">Data Fields <small><i>(Optional)</i></small></legend>
            <div id="dataFieldsContainer" class="col-sm-6 mt-1"></div>
          </div>
        </fieldset>

        <hr class="my-4">
        <p>When you're ready, click the button below to geocode <span id="fileSummarySpan"></span> and load your map.
        </p>
        <div id="progressBarContainer" class="progress mb-4" style="display:none">
          <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            style="width:0%">0%</div>
        </div>
        <div id="plotAlert" class="alert alert-danger" role="alert" style="display:none"></div>
        <button id="importReturnButton" class="btn btn-danger">Back</button>
        <button id="plotButton" class="btn btn-primary">Plot</button>
      </form>
    </section>

    <!-- Plan Route Section -->
    <section id="routeSection" class="jumbotron" style="display:none">
      <h1 class="display-5">Plan Route</h1>
      <p class="lead">Select the locations in order to create your directions.</p>
      <div class="row">
        <div class="col-7">
          <div id="map"></div>
          <div class="row">
            <div class="col-6">
              <p class="mt-4">
                <b>Selected Location</b>
              </p>
              <pre id="locationPre">No location to show.</pre>
            </div>
            <div class="col-6">
              <p class="mt-4">
                <b>Selected Data</b>
              </p>
              <pre id="dataPre">No data to show.</pre>
            </div>
          </div>
        </div>
        <div class="col-5">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Address</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody id="locationTableBody">
              <tr>
                <td colspan="3">No directions to show.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr class="my-4">
      <p>Click one of the buttons below to save a PDF report or save your JSON data.</p>
      <button id="fieldsReturnButton" class="btn btn-danger">Back</button>
      <button id="savePdfButton" class="btn btn-primary">Save PDF</button>
      <button id="saveJsonButton" class="btn btn-primary">Save JSON</button>
    </section>

  </div>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.apiKey %>&libraries=places"></script>
</body>

</html>